.services_container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;

    @media (min-width: 767.98px) {
        justify-content: space-between;
        gap: 40px;
    }
}

.services_header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;

    @media (min-width: 767.98px) {
        padding: 0 12px;
        justify-content: space-between;
    }
}

.services_title {
    font-family: 'PoiretOne';
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    text-wrap: balance;
    padding: 0 16px;
    color: sandybrown;

    @media (min-width: 767.98px) {
        font-size: 3rem;
        text-align: left;
    }
}

.services_icon {
    display: none;
    @media (min-width: 767.98px) {
        display: block;
    }
}

.services_description {
    font-family: 'PoiretOne';
    font-weight: 400;
    font-size: 1.3rem;
    padding: 12px;
    text-wrap: balance;
    text-align: start;

    @media (min-width: 767.98px) {
        font-size: 1.6rem;
        text-align: end;
    }
}
