.advantages_root {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    gap: 30px;
}

.bring_car {
    width: 100%;
    max-width: 930px;
    min-height: 200px;
    padding: 12px;
    overflow: hidden;
    margin: 20px auto;
    background: url('../../../public/img/advantages.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;

    @media (min-width: 768px) {
        height: 330px;
    }
}

.bring_car_title,
.bring_car_subtitle {
    font-family: Jura;
    font-size: 1.6rem;
    text-align: center;
    text-wrap: balance;
}
