.about_root {
    max-width: 960px;
    margin: 20px auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 80px;
    overflow: hidden;
}

.about_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.about_icon {
    display: none;
    @media (min-width: 767.98px) {
        display: block;
    }
}

.about_wrap_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_title {
    width: 100%;
    font-family: 'PoiretOne';
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    text-wrap: balance;
    padding: 0 16px;
    margin: 20px 0;

    @media (min-width: 767.98px) {
        font-size: 3rem;
        text-align: left;
    }
}

.about_wrap_description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about_description {
    padding: 0 16px;
    font-family: Jura;
    font-weight: 300;
    color: #848484;
    text-wrap: balance;
    text-align: left;
    font-size: 1.3rem;

    @media (min-width: 767.98px) {
        font-size: 1.6rem;
        text-align: left;
    }
}

.about_img {
    width: 100%;
    max-height: 330px;
    max-width: 960px;
    object-fit: cover;
    object-position: center;
}
