.card_root,
.directory_card_root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: balance;
    gap: 15px;
    margin: 16px auto;
    width: 420px;
    font-size: medium;
}

.card_title {
    font-family: MontserratAlternates;
    font-size: 1.2rem;
}

.card_subtitle {
    padding: 0 10px;
    font-family: Jura;
    font-weight: 300;
    font-size: 1rem;
    line-height: 18px;
    color: #848484;
    text-wrap: balance;
    text-align: left;
}

.card_image {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.directory_card_root {
    position: relative;
    min-width: 290px;
    z-index: -1;
}

.directory_card_image {
    border-radius: 55px 0px 55px 0px;
    height: 400px;
    width: 100%;
}

.directory_item {
    width: 100%;
    background: linear-gradient(99deg, #e16e037d 56%, #ffffff00 78%);
    padding: 12px 10px;
    position: absolute;
    top: 7vh;
    right: 0;
    z-index: 2;
}

.directory_item_key {
    font-family: Jura;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
}
